<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HedgeR {% block title %} {% endblock %} </title>
    
    {% load static %} 
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block extra_style %}
    
    {% endblock %}
</head>
<body>
    <header>
        <h1>HedgeR</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2025 Ephraim Bennett. All rights reserved.</p>
    </footer>
</body>
</html>
